<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Classificador de diabetes</title>
    <link rel="shortcut icon" href="../static/img/diabetes.png" />

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Hind:300" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"/>
  </head>

  <body style="background: rgb(28, 113, 187)">
    <nav>
      <div class="nav-container">
        <a><img id="logo" src="../static/img/diabetes.png" alt="JobFinder" /></a>
        <ul>
          <a><img id="logo" src="../static/img/diabetesInfo.png" alt="JobFinder" /></a>
          <li>
            <a href="https://www.gov.br/saude/pt-br/assuntos/saude-de-a-a-z/d/diabetes-diabetes-mellitus">Saiba mais</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="login">
      <h2>A maneira mais fácil de testar a probabilidade de <span>diabetes</span></h2>

      <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('predict')}}" method="post">
        <select name="a" required="required">
          <option value="">Possui pressão alta?</option>
          <option value="1">Sim</option>
          <option value="0">Não</option>
        </select>
        
        <select name="b" required="required">
          <option value="">Possui colesterol alto?</option>
          <option value="1">Sim</option>
          <option value="0">Não</option>
        </select>

        <select name="c" required="required">
          <option value="">Teve colesterol nos últimos 5 anos?</option>
          <option value="1">Sim</option>
          <option value="0">Não</option>
        </select>
        
        <select name="d" required="required">
          <option value="">Fumou pelo menos 5 maços cigarros em toda sua vida?</option>
          <option value="1">Sim</option>
          <option value="0">Não</option>
        </select>

        <select name="e" required="required">
          <option value="">Já teve derrame?</option>
          <option value="1">Sim</option>
          <option value="0">Não</option>
        </select>

        <select name="f" required="required">
          <option value="">Já teve (DAC) ou (IM)?</option>
          <option value="1">Sim</option>
          <option value="0">Não</option>
        </select>

        <select name="g" required="required">
          <option value="">Fez atividade física nos últimos 30 dias?"</option>
          <option value="1">Sim</option>
          <option value="0">Não</option>
        </select>

        <select name="h" required="required">
          <option value="">Consome 1 ou mais frutas ao dia?</option>
          <option value="1">Sim</option>
          <option value="0">Não</option>
        </select>
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Executar</button>
      </form>

      <h4>{{ prediction_text }}</h4>
    </div>
  </body>
</html>
